<a href="https://colab.research.google.com/github/data602sps/assignments/blob/master/05_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

I will be analyzing the STD infection rate within the United States

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [2]:
import sys
sys.path.append('/path/to/pandas')
import pandas as pd
df = pd.DataFrame(pd.read_csv("https://raw.githubusercontent.com/kglan/MSDS/main/DATA602/Data%20Manipulation%20with%20Pandas/STD%20Cases.csv"))

In [3]:

df.sample(frac=1).head(10)

,index,Disease,Disease Code,State,Year,Gender,Age,Age Code,STD Cases,Population,Rate per 100K
17262,17262,Primary and Secondary Syphilis,310.0,Missouri,2009.0,Male,25-29 years,25-29,21.0,210371.0,9.98
6833,6833,Chlamydia,274.0,Virginia,2011.0,Male,15-19 years,15-19,2006.0,278413.0,720.51
8763,8763,Gonorrhea,280.0,Florida,2000.0,Male,35-39 years,35-39,1103.0,622887.0,177.08
28937,28937,Chlamydia,274.0,North Carolina,2013.0,Female,15-19 years,15-19,12265.0,317166.0,3867.06
34944,34944,Gonorrhea,280.0,Mississippi,2001.0,Female,35-39 years,35-39,118.0,106205.0,111.11
40658,40658,Primary and Secondary Syphilis,310.0,Minnesota,2003.0,Female,25-29 years,25-29,1.0,158178.0,0.63
12013,12013,Gonorrhea,280.0,New York,1999.0,Male,0-14 years,0-14,45.0,2002090.0,2.25
9827,9827,Gonorrhea,280.0,Kansas,2009.0,Male,20-24 years,20-24,353.0,116509.0,302.98
36368,36368,Gonorrhea,280.0,North Dakota,2003.0,Female,40+ years,40+,2.0,153792.0,1.30
12047,12047,Gonorrhea,280.0,New York,2003.0,Male,20-24 years,20-24,3052.0,671255.0,454.67

In [4]:
df.describe

<bound method NDFrame.describe of        index    Disease  Disease Code    State    Year Gender          Age  \
0          0  Chlamydia         274.0  Alabama  1996.0   Male   0-14 years
1          1  Chlamydia         274.0  Alabama  1996.0   Male  15-19 years
2          2  Chlamydia         274.0  Alabama  1996.0   Male  20-24 years
3          3  Chlamydia         274.0  Alabama  1996.0   Male  25-29 years
4          4  Chlamydia         274.0  Alabama  1996.0   Male  30-34 years
...      ...        ...           ...      ...     ...    ...          ...
42675  42675        NaN           NaN      NaN     NaN    NaN          NaN
42676  42676        NaN           NaN      NaN     NaN    NaN          NaN
42677  42677        NaN           NaN      NaN     NaN    NaN          NaN
42678  42678        NaN           NaN      NaN     NaN    NaN          NaN
42679  42679        NaN           NaN      NaN     NaN    NaN          NaN

      Age Code  STD Cases  Population  Rate per 100K
0         0-14       25.0    468394.0           5.34
1        15-19      164.0    165920.0          98.84
2        20-24      193.0    152848.0         126.27
3        25-29       88.0    152778.0          57.60
4        30-34       55.0    155850.0          35.29
...        ...        ...         ...            ...
42675      NaN        NaN         NaN            NaN
42676      NaN        NaN         NaN            NaN
42677      NaN        NaN         NaN            NaN
42678      NaN        NaN         NaN            NaN
42679      NaN        NaN         NaN            NaN

[42680 rows x 11 columns]>

In [5]:
df.describe()

,index,Disease Code,Year,STD Cases,Population,Rate per 100K
count,42680.000000,42530.000000,42530.000000,42530.000000,3.548300e+04,35483.000000
mean,21339.500000,283.795533,2005.240607,603.133647,4.389794e+05,325.661860
std,12320.799081,13.723063,5.431696,1973.091099,7.605588e+05,697.545461
min,0.000000,274.000000,1996.000000,1.000000,1.293700e+04,0.020000
25%,10669.750000,274.000000,2001.000000,8.000000,9.418100e+04,6.950000
50%,21339.500000,280.000000,2005.000000,59.000000,1.966280e+05,52.890000
75%,32009.250000,280.000000,2010.000000,380.000000,4.322250e+05,302.955000
max,42679.000000,310.000000,2014.000000,46885.000000,8.880836e+06,9078.950000

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [6]:
df.columns

Index(['index', 'Disease', 'Disease Code', 'State', 'Year', 'Gender', 'Age',
       'Age Code', 'STD Cases', 'Population', 'Rate per 100K'],
      dtype='object')

In [15]:
df= df.dropna(how="any")
df = df.rename(columns= {'Disease': 'STD'})
df['STD Cases v Population Ratio'] = df['STD Cases'] / df['Population']
df[['STD Cases v Population Ratio', 'State']].describe

<bound method NDFrame.describe of        STD Cases v Population Ratio    State
0                          0.000053  Alabama
1                          0.000988  Alabama
2                          0.001263  Alabama
3                          0.000576  Alabama
4                          0.000353  Alabama
...                             ...      ...
42625                      0.000069  Wyoming
42626                      0.000008  Wyoming
42627                      0.000055  Wyoming
42628                      0.000064  Wyoming
42629                      0.000051  Wyoming

[35483 rows x 2 columns]>

In [16]:
df= df.drop(['index','Disease Code', 'Age'], axis =1)
df.head(10)

,STD,State,Year,Gender,Age Code,STD Cases,Population,Rate per 100K,STD Cases v Population Ratio
0,Chlamydia,Alabama,1996.0,Male,0-14,25.0,468394.0,5.34,0.000053
1,Chlamydia,Alabama,1996.0,Male,15-19,164.0,165920.0,98.84,0.000988
2,Chlamydia,Alabama,1996.0,Male,20-24,193.0,152848.0,126.27,0.001263
3,Chlamydia,Alabama,1996.0,Male,25-29,88.0,152778.0,57.60,0.000576
4,Chlamydia,Alabama,1996.0,Male,30-34,55.0,155850.0,35.29,0.000353
5,Chlamydia,Alabama,1996.0,Male,35-39,30.0,168841.0,17.77,0.000178
6,Chlamydia,Alabama,1996.0,Male,40+,44.0,819248.0,5.37,0.000054
8,Chlamydia,Alabama,1997.0,Male,0-14,27.0,473016.0,5.71,0.000057
9,Chlamydia,Alabama,1997.0,Male,15-19,230.0,167083.0,137.66,0.001377
10,Chlamydia,Alabama,1997.0,Male,20-24,185.0,150783.0,122.69,0.001227

In [18]:
df.sort_values(by = 'STD Cases v Population Ratio', ascending=False)

,STD,State,Year,Gender,Age Code,STD Cases,Population,Rate per 100K,STD Cases v Population Ratio
25204,Chlamydia,District of Columbia,2011.0,Female,15-19,1864.0,20531.0,9078.95,9.078954e-02
25180,Chlamydia,District of Columbia,2008.0,Female,15-19,1900.0,21290.0,8924.38,8.924378e-02
25148,Chlamydia,District of Columbia,2004.0,Female,15-19,1124.0,12937.0,8688.26,8.688258e-02
25156,Chlamydia,District of Columbia,2005.0,Female,15-19,1153.0,13448.0,8573.77,8.573766e-02
25212,Chlamydia,District of Columbia,2012.0,Female,15-19,1755.0,20511.0,8556.38,8.556384e-02
...,...,...,...,...,...,...,...,...,...
15017,Primary and Secondary Syphilis,California,1999.0,Male,0-14,1.0,3973646.0,0.03,2.516580e-07
15085,Primary and Secondary Syphilis,California,2009.0,Male,0-14,1.0,4006928.0,0.02,2.495677e-07
15064,Primary and Secondary Syphilis,California,2006.0,Male,0-14,1.0,4037516.0,0.02,2.476770e-07
15043,Primary and Secondary Syphilis,California,2003.0,Male,0-14,1.0,4042942.0,0.02,2.473446e-07
15051,Primary and Secondary Syphilis,California,2004.0,Male,0-14,1.0,4109156.0,0.02,2.433590e-07

In [20]:
ny_df = df[df['State'] == 'New York']
ny_df.sort_values(by = 'STD Cases v Population Ratio', ascending=False)

,STD,State,Year,Gender,Age Code,STD Cases,Population,Rate per 100K,STD Cases v Population Ratio
28776,Chlamydia,New York,2011.0,Female,15-19,25484.0,646710.0,3940.56,3.940561e-02
28768,Chlamydia,New York,2010.0,Female,15-19,25364.0,666730.0,3804.24,3.804239e-02
28760,Chlamydia,New York,2009.0,Female,15-19,24083.0,667979.0,3605.35,3.605353e-02
28784,Chlamydia,New York,2012.0,Female,15-19,23094.0,640786.0,3604.01,3.604011e-02
28777,Chlamydia,New York,2011.0,Female,20-24,24770.0,708276.0,3497.22,3.497224e-02
...,...,...,...,...,...,...,...,...,...
17845,Primary and Secondary Syphilis,New York,2008.0,Male,0-14,1.0,1842879.0,0.05,5.426292e-07
17814,Primary and Secondary Syphilis,New York,2003.0,Male,0-14,1.0,1926481.0,0.05,5.190812e-07
17794,Primary and Secondary Syphilis,New York,2000.0,Male,0-14,1.0,1974830.0,0.05,5.063727e-07
41271,Primary and Secondary Syphilis,New York,2000.0,Female,40+,2.0,4505647.0,0.04,4.438874e-07
41278,Primary and Secondary Syphilis,New York,2001.0,Female,40+,2.0,4562313.0,0.04,4.383741e-07

In [22]:
df['Gender'] = df['Gender'].str.upper()
df.head

<bound method NDFrame.head of                                   STD    State    Year  Gender Age Code  \
0                           Chlamydia  Alabama  1996.0    MALE     0-14
1                           Chlamydia  Alabama  1996.0    MALE    15-19
2                           Chlamydia  Alabama  1996.0    MALE    20-24
3                           Chlamydia  Alabama  1996.0    MALE    25-29
4                           Chlamydia  Alabama  1996.0    MALE    30-34
...                               ...      ...     ...     ...      ...
42625  Primary and Secondary Syphilis  Wyoming  2004.0  FEMALE    30-34
42626  Primary and Secondary Syphilis  Wyoming  2007.0  FEMALE      40+
42627  Primary and Secondary Syphilis  Wyoming  2008.0  FEMALE    20-24
42628  Primary and Secondary Syphilis  Wyoming  2008.0  FEMALE    30-34
42629  Primary and Secondary Syphilis  Wyoming  2009.0  FEMALE    25-29

       STD Cases  Population  Rate per 100K  STD Cases v Population Ratio
0           25.0    468394.0           5.34                      0.000053
1          164.0    165920.0          98.84                      0.000988
2          193.0    152848.0         126.27                      0.001263
3           88.0    152778.0          57.60                      0.000576
4           55.0    155850.0          35.29                      0.000353
...          ...         ...            ...                           ...
42625        1.0     14577.0           6.86                      0.000069
42626        1.0    123292.0           0.81                      0.000008
42627        1.0     18026.0           5.55                      0.000055
42628        1.0     15691.0           6.37                      0.000064
42629        1.0     19668.0           5.08                      0.000051

[35483 rows x 9 columns]>

In [23]:
numerical_present = not df.select_dtypes(include=['number']).empty
print(numerical_present)

True

In [27]:
df.groupby('Age Code').agg(['mean', 'min', 'max'])

C:\Users\keeno\AppData\Local\Temp\ipykernel_16368\493060340.py:1: FutureWarning: ['STD', 'State', 'Gender'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('Age Code').agg(['mean', 'min', 'max'])

                 Year                    STD Cases                \
                 mean     min     max         mean  min      max
Age Code
0-14      2004.928368  1996.0  2014.0   100.673390  1.0   1731.0
15-19     2005.089916  1996.0  2014.0  1589.788765  1.0  34494.0
20-24     2005.118066  1996.0  2014.0  1697.116192  1.0  46885.0
25-29     2005.114053  1996.0  2014.0   746.544732  1.0  21018.0
30-34     2005.055587  1996.0  2014.0   342.788845  1.0   9388.0
35-39     2005.076908  1996.0  2014.0   181.530534  1.0   4496.0
40+       2005.106816  1996.0  2014.0   212.412325  1.0   7725.0

            Population                     Rate per 100K                 \
                  mean      min        max          mean   min      max
Age Code
0-14      6.663646e+05  41429.0  4130303.0     17.464386  0.02   294.90
15-19     2.203450e+05  12937.0  1455082.0    772.930267  0.15  9078.95
20-24     2.141877e+05  15775.0  1516006.0    807.305114  0.17  6215.35
25-29     2.129334e+05  13461.0  1472728.0    353.461472  0.29  2633.76
30-34     2.159973e+05  14403.0  1466798.0    159.526255  0.13  1349.23
35-39     2.233671e+05  14925.0  1438823.0     81.557632  0.20  1271.15
40+       1.361740e+06  97573.0  8880836.0     15.005740  0.04   385.03

         STD Cases v Population Ratio
                                 mean           min       max
Age Code
0-14                         0.000175  2.433590e-07  0.002949
15-19                        0.007729  1.542263e-06  0.090790
20-24                        0.008073  1.653942e-06  0.062154
25-29                        0.003535  2.879338e-06  0.026338
30-34                        0.001595  1.347960e-06  0.013492
35-39                        0.000816  2.046011e-06  0.012712
40+                          0.000150  3.906219e-07  0.003850

In [24]:
state_stats = df.groupby('State')['Population'].agg(['mean', 'min', 'max'])
print(state_stats)

                              mean        min        max
State
Alabama               3.240871e+05   141457.0  1238784.0
Alaska                4.776415e+04    16403.0   158977.0
Arizona               4.072890e+05   149522.0  1589462.0
Arkansas              1.964545e+05    83923.0   736456.0
California            2.516622e+06  1002422.0  8880836.0
Colorado              3.325078e+05   124739.0  1226026.0
Connecticut           2.483843e+05    90952.0   967872.0
Delaware              6.050623e+04    23365.0   244442.0
District of Columbia  4.212236e+04    12937.0   139335.0
Florida               1.239603e+06   422324.0  5365589.0
Georgia               6.290972e+05   263998.0  2369484.0
Hawaii                9.232266e+04    36289.0   346574.0
Idaho                 1.020600e+05    36182.0   367206.0
Illinois              8.902780e+05   396278.0  3160244.0
Indiana               4.423207e+05   192939.0  1612428.0
Iowa                  2.107218e+05    83951.0   770827.0
Kansas                1.979577e+05    82418.0   683788.0
Kentucky              2.928101e+05   134206.0  1112674.0
Louisiana             3.171535e+05   125200.0  1110985.0
Maine                 9.187660e+04    32765.0   382736.0
Maryland              3.906520e+05   150329.0  1519232.0
Massachusetts         4.603412e+05   185376.0  1757614.0
Michigan              7.008098e+05   278989.0  2571038.0
Minnesota             3.561083e+05   143914.0  1325247.0
Mississippi           2.035906e+05    86463.0   731726.0
Missouri              4.086894e+05   174652.0  1528120.0
Montana               6.614843e+04    23880.0   258686.0
Nebraska              1.281028e+05    51702.0   441461.0
Nevada                1.671971e+05    48692.0   653591.0
New Hampshire         9.141450e+04    32426.0   363392.0
New Jersey            6.076750e+05   231444.0  2335038.0
New Mexico            1.356510e+05    55375.0   506506.0
New York              1.299736e+06   242608.0  5031657.0
North Carolina        6.166110e+05   245385.0  2491562.0
North Dakota          4.587166e+04    16363.0   164654.0
Ohio                  8.078792e+05   333404.0  3004867.0
Oklahoma              2.514047e+05   109410.0   916813.0
Oregon                2.576551e+05   100148.0   994951.0
Pennsylvania          8.818797e+05   342136.0  3433281.0
Rhode Island          7.516551e+04    28996.0   281574.0
South Carolina        3.029698e+05   134276.0  1230729.0
South Dakota          5.574864e+04    21260.0   201823.0
Tennessee             4.236250e+05   185938.0  1655994.0
Texas                 1.625462e+06   683324.0  5775558.0
Utah                  1.739858e+05    68033.0   526417.0
Vermont               4.293962e+04    16246.0   172457.0
Virginia              5.310126e+05   218564.0  2045194.0
Washington            4.507189e+05   169421.0  1685385.0
West Virginia         1.330768e+05    51955.0   505425.0
Wisconsin             3.949933e+05   158694.0  1452464.0
Wyoming               3.586592e+04    13461.0   135130.0

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

From this dataset we cna conclude that the district of Colombia have had some serious spikes in STD rates, this could be alarming because it is in the age ranges of 15-19 are the most at risk for these diseases. With more time I would try to determine the correlation between population and STD infections. I feel like more dense populations may be more at risk.